# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp

# Dados gerados pela aplicação
storage/videos/
storage/images/
storage/hls/
